
/**
 * @file
 * Dark Mode styling for Jeff Geerling's website.
 */

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background-color: #000;
  }

  h2 {
    color: #fff;
  }

  a {
    color: #b3bcdd;
  }

  a:hover {
    color: #c6d0f4;
  }

  a:visited {
    color: #959cb7;
  }

  form input,
  form textarea {
    color: #000;
    background-color: #fff;
  }

  label {
    display: block;
    font-weight: bold;
  }

  pre,
  code,
  div.codeblock {
    background-color: #222;
  }

  div.codeblock {
    border: 1px solid #444;
  }

  nav.block-menu li a,
  nav.block-menu li a:visited,
  nav.page-navigation li a,
  nav.page-navigation li a:visited {
    color: #ddd;
  }

  nav.block-menu li a:hover,
  nav.block-menu li a.is-active,
  nav.page-navigation li a:hover {
    color: #444;
  }

  nav.block-menu li a.is-active {
    background-color: #ddd;
    color: #444;
  }

  ul.primary li a {
    background-color: #444;
    border-color: #686868;
    color: #eee;
  }

  ul.primary li.is-active a,
  ul.primary li a:hover {
    background-color: #000;
    border: 1px solid #686868;
    border-bottom: 1px solid #000;
  }

  ul.primary,
  .site-name {
    border-bottom: 1px solid #464646;
  }

  .site-name a {
    color: #eee;
  }

  div.messages--status {
    background-color: #2f312e;
    border-color: #44562b;
    color: #73e500;
  }

  .node header h2 a {
    color: #eee;
  }

  .node header h2 a:hover {
    color: #fff;
  }

  div.node__submitted,
  div.comment__submitted {
    color: #aaa;
  }

  #block-views-block-projects-block,
  #block-views-block-blog-block-1,
  #block-whatido,
  .region-node-bottom,
  section.field--type-comment {
    background-color: #222;
  }

  .node--unpublished,
  .comment.unpublished {
    background-color: #331111;
  }

  div.field--name-field-tags .field__item a {
    padding: 0 8px 0 16px;
    background: #444;
    color: #ddd;
  }

  div.field--name-field-tags .field__item a::before,
  div.field--name-field-tags .field__item a::after {
    background: #000;
    border: none;
  }

  #resume-highlight h2 {
    color: #eee;
  }

  .resume-section .job {
    background-color: #181818;
  }

  .node--type-project .field-name-field-project-highlights {
    background-color: #555;
    color: #efefef;
  }
}
