
/**
 * @file
 * CSS for Jeff Geerling's website front page.
 */

.page-title {
  display: none;
}

.portrait {
  float: left;
  margin: 0 .5em 0 0;
}

#block-social-media-links {
  text-align: center;
}

.social-link {
  padding: .25em;
  background-color: #fff;
  border-radius: 3px;
  margin: 2px;
}

.youtube {
  background-color: rgba(255, 0, 0, 0.8);
}

.youtube:hover {
  background-color: rgba(255, 0, 0, 1);
}

.github {
  background-color: rgba(24, 23, 23, 0.8);
}

.github:hover {
  background-color: rgba(24, 23, 23, 1);
}

.patreon {
  background-color: rgba(249, 104, 84, 0.8);
}

.patreon:hover {
  background-color: rgba(249, 104, 84, 1);
}

.twitter {
  background-color: rgba(29, 161, 242, 0.8);
}

.twitter:hover {
  background-color: rgba(29, 161, 242, 1);
}

.instagram {
  background-color: rgba(228, 64, 95, 0.8);
}

.instagram:hover {
  background-color: rgba(228, 64, 95, 1);
}

#block-social-media-links,
#block-views-block-projects-block,
#block-views-block-blog-block-1,
#block-whatido {
  background-color: #efefef;
  padding: 1em;
}

#block-social-media-links,
#block-views-block-projects-block {
  margin-bottom: 1.8em;
}

#block-views-block-projects-block h2,
#block-views-block-blog-block-1 h2,
#block-whatido h2 {
  margin-top: 0;
}

#block-social-media-links,
#block-views-block-projects-block,
#block-views-block-blog-block-1 {
  width: 25%;
  float: right;
}

#block-views-block-projects-block li,
#block-views-block-blog-block-1 li {
  font-size: .85em;
}

#block-whatido {
  width: 65%;
  float: left;
}

/* Responsive Styles -------------------------------------------------------- */
@media screen and (max-width: 800px) {
  #block-social-media-links,
  #block-views-block-projects-block,
  #block-views-block-blog-block-1,
  #block-whatido {
    float: none;
    margin: 0 auto;
    width: 95%;
  }

  #block-social-media-links,
  #block-views-block-projects-block,
  #block-views-block-blog-block-1,
  #block-whatido {
    margin-bottom: 1em;
    width: 84%;
  }

  #block-views-block-projects-block li,
  #block-views-block-blog-block-1 li {
    font-size: 1em;
  }

  .portrait {
    float: none;
    display: block;
    margin: 0 auto 1em;
  }
}
