
/**
 * @file
 * CSS for Jeff Geerling's website front page.
 */

.page-title {
  display: none;
}

.portrait {
  float: left;
  margin: 0 .5em 0 0;
}

#block-views-block-projects-block,
#block-views-block-blog-block-1,
#block-whatido {
  background-color: #efefef;
  padding: 1em;
}

#block-views-block-projects-block {
  margin-bottom: 1.8em;
}

#block-views-block-projects-block h2,
#block-views-block-blog-block-1 h2,
#block-whatido h2 {
  margin-top: 0;
}

#block-views-block-projects-block,
#block-views-block-blog-block-1 {
  width: 25%;
  float: right;
}

#block-views-block-projects-block li,
#block-views-block-blog-block-1 li {
  font-size: .85em;
}

#block-whatido {
  width: 65%;
  float: left;
}

/* Responsive Styles -------------------------------------------------------- */
@media screen and (max-width: 800px) {
  #block-views-block-projects-block,
  #block-views-block-blog-block-1,
  #block-whatido {
    float: none;
    margin: 0 auto;
    width: 95%;
  }

  #block-views-block-projects-block,
  #block-views-block-blog-block-1,
  #block-whatido {
    margin-bottom: 1em;
    width: 84%;
  }

  #block-views-block-projects-block li,
  #block-views-block-blog-block-1 li {
    font-size: 1em;
  }

  .portrait {
    float: none;
    display: block;
    margin: 0 auto 1em;
  }
}
