
/**
 * @file
 * CSS for Jeff Geerling's website - project pages.
 */

/* Project Pages */
.node-type-project #page-title {
  margin-bottom: .5em;
}

.node--type-project .field--name-field-project-images .field__item {
  display: inline-block;
  margin: 10px;
}

.node--type-project .field-name-field-project-highlights { /* Highlights */
  background-color: #EFEFEF;
  color: #555;
  display: block;
  font-size: .92em;
  margin: 1em 0;
  margin-bottom: 1em;
  padding: 1em;
}

.node--type-project .highlight-list li {
  margin: .5em 0 .5em 1.5em;
}

/* Project link */
.node--type-project .field--name-field-project-link {
  margin-top: 1em;
}

.node--type-project .field--name-field-project-link .field__label,
.node--type-project .field--name-field-project-link .field__items {
  display: inline-block;
}

/* Responsive Styles -------------------------------------------------------- */
/* Smartphones */
@media screen and (max-width: 800px) {
  .node--type-project .field-name-field-project-highlights {
    width: 92%;
  }

  .node--type-project .field--name-field-project-images {
    margin-bottom: .5em;
    text-align: center;
    width: 100%;
  }

  .node--type-project .field--name-field-project-images .field__item {
    margin: 5px;
  }

  .node--type-project .field-name-body {
    margin-bottom: 1em;
    width: 100%;
  }
}
