
/**
 * @file
 * CSS for Jeff Geerling's website - Resumé page.
 */

#portrait {
  width: 115px;
  float: left;
}

#my-description {
  width: 770px;
  float: right;
}

h1.page-title {
  display: none;
}

.page-navigation ul {
  text-align: center;
}

#resume-highlight {
  padding: 0 1em 1em;
  margin-bottom: 1.5em;
  overflow-y: auto;
}

#resume-highlight h2 {
  color: #333;
  margin-top: 0;
}

.resume-section {
  margin: 0 0 1em;
  padding: 1em;
  overflow: auto;
}

.resume-section h2 {
  float: left;
  width: 20%;
  text-align: right;
}

.resume-section .content {
  border-left: 1px solid #ddd;
  float: right;
  padding-left: 1em;
  width: 72%;
}

.resume-section p:first-child,
.resume-section h3:first-child,
.resume-section .job:first-child {
  margin-top: 0;
}

.resume-section p:last-child,
.resume-section .job:last-child {
  margin-bottom: 0;
}

.resume-section .job {
  border-radius: 15px;
  background-color: #f7f7fb;
  margin: 1em 0;
  padding: 1em;
}

.resume-section .job h3 {
  margin-bottom: 0;
}

.resume-section .job h4 {
  margin: .25em 0 0;
}

.resume-section .location {
  color: #aaa;
  margin-top: 0;
}

/* Responsive Styles -------------------------------------------------------- */
/* Smartphones */
@media screen and (max-width: 800px) {
  #portrait {
    text-align: center;
    margin-bottom: 1em;
    width: 100%;
  }

  #my-description {
    clear: both;
    width: 100%;
    float: none;
    text-align: center;
  }

  #my-description h2 {
    font-size: 1.5em;
  }

  #resume-highlight {
    margin-bottom: 0;
  }

  .page-navigation ul {
    font-size: .9em;
    line-height: 2.4em;
    margin: .75em 0 0;
  }

  .resume-section h2 {
    float: none;
    width: 100%;
    text-align: left;
  }

  .resume-section ul {
    padding-left: 1.25em;
  }

  .resume-section .content {
    border: none;
    float: none;
    padding: 0;
    width: 100%;
  }
}
