
/**
 * @file
 * Print CSS for Jeff Geerling's website - Resumé page.
 */

nav.menu--main,
h1.page-title,
.node .page-navigation,
#profiles {
  display: none;
}

.top-link {
  display: none !important;
}

.job .toggle-details {
  display: none;
}

.job .attributes {
  display: block !important;
}

footer .region-footer {
  display: none;
}
