
/**
 * @file
 * CSS for Jeff Geerling's website search.
 */

/* Search form. */
.block-views-exposed-filter-blocksearch-page,
.block-views-exposed-filter-blocksearch-page .form-actions {
  display: inline-block;
}

.block-views-exposed-filter-blocksearch-page label {
  display: none;
}

/* Search Results */
ol.search-results {
  padding: 0;
}

.search-result {
  margin: 2em 0;
  overflow: hidden;
}

.search-result h3 {
  margin: 0;
}

.search-result img {
  max-height: 100px;
  width: auto !important;
}

.search-snippet {
  margin: 0;
}

.search-info {
  color: #777;
  margin: 0;
  font-size: .9em;
}

/* Facets. */
.layout-content {
  padding-right: 240px;
  float: left;
}

.layout-sidebar-second {
  float: right;
  width: 220px;
  margin-left: -220px;
}

.facet-item label {
  display: inline;
  font-weight: normal;
}

.block-facets {
  font-size: .8em;
}

.block-facets .facets-widget-checkbox ul {
  padding-left: 0;
}

.block-facets li.facet-item {
  margin: 0;
  list-style: none;
}

.block-facets li.facet-item,
.block-facets li.facet-item label {
  cursor: pointer;
}

.block-facets li.facet-item label:hover {
  text-decoration: underline;
}

/* Responsive Styles -------------------------------------------------------- */
@media screen and (max-width: 800px) {
  main .layout-content {
    padding-right: inherit;
    float: none;
  }

  main .layout-sidebar-second {
    float: none;
    width: 95%;
    margin: 0 auto;
  }

  .views-exposed-form {
    text-align: center;
  }
}
