
/**
 * @file
 * CSS for Jeff Geerling's website.
 */

/* General Styles ----------------------------------------------------------- */
body {
  font-size: 100%;
  font-family: Georgia, Times, serif;
  margin: 1em 0;
  padding: 0;
}

header, section, footer, article { /* Helpful for IE. */
  display: block;
}

p {
  margin: .8em 0;
  padding: 0;
  line-height: 1.58em;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  font-weight: normal;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  color: #444;
  margin-bottom: .25em;
}

h2 a {
  text-decoration: none;
}

a {
  color: #000;
}

a:visited {
  color: #444;
}

a:hover, a:focus {
  color: #888;
}

li {
  margin: 0 0 .4em;
  line-height: 1.58em;
}

blockquote {
  margin: 1em 0 1em 1.5em;
  padding: .5em .5em .5em 1em;
  border-left: .25em solid #ccc;
}

textarea {
  font-family: Georgia, Times, serif;
  font-size: 0.95em;
  line-height: 1.4em;
}

input {
  font-size: 1em;
}

hr {
  display: block;
  background-color: #aaa;
  border: 0;
}

img {
  max-width: 100%;
}

/* Code */
pre,
code {
  font-family: "Lucida Console", "Consolas", "Courier New", monospace;
  background-color: #eee;
  padding: 5px 5px;
  font-size: .85em;
  line-height: 1.4em;
}

pre {
  display: block;
  white-space: pre;
  margin: 1em 0px 1em;
}

pre,
code {
  background-color: #eee;
  padding: 5px 5px;
  font-size: .85em;
  line-height: 1.4em;
}

pre,
.codeblock {
  overflow-x: scroll;
}

pre .codeblock {
  border: none;
  padding: 0;
}

.codeblock code {
  padding: 0;
  font-size: .85em;
}

pre > code {
  padding: 0;
  font-size: 1em;
}

/* Tables */
table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}

table table {
  font-size: 1em;
}

table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none;
}

table tr th,
table tr th a,
table tr th a:hover {
  color: #FFF;
  font-weight: bold;
}

table tbody tr th {
  vertical-align: top;
}

tr td,
tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left; /* LTR */
  line-height: 1.58em;
}

th code {
  color: #444;
}

tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}

tr,
tr.even {
  background: #efefef;
  background: rgba(0, 0, 0, 0.063);
}

table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

table ul.links li {
  padding: 0 1em 0 0;
}

/* Layout Styles ------------------------------------------------------------ */
.layout-container {
  font-size: 1em;
  margin: 0 auto 1em;
  padding: 1.5em;
  overflow-y: auto;
  width: 920px;
}

header {
  margin-bottom: 1em;
}

.page-title {
  margin: 0;
}

.site-name {
  border-bottom: 1px solid #ccc;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3.5em;
  line-height: .7em;
  margin-top: .15em;
}

.site-name a {
  color: #000;
  text-decoration: none;
}

/* TODO: Search pages */
#sidebar-second {
  float: right;
  width: 220px;
  margin-left: -220px;
}

.sidebar-second #content .section {
  padding-right: 240px;
}

#footer {
  color: #aaa;
  font-size: .85em;
  margin: 1.5em 0 0;
  text-align: center;
}

#footer a {
  color: #888;
}

#footer p:first-child {
  margin-top: 0;
}

#footer p:last-child {
  margin-bottom: 0;
}

/* Navigation --------------------------------------------------------------- */
nav#block-mainmenu {
  margin: 2em 0 1em;
}

nav#block-mainmenu ul {
  list-style-type: none;
  margin: 0 0 .75em;
  padding: 0 0 .8em;
  text-align: left;
  width: 100%;
}

nav#block-mainmenu li {
  display: inline;
}

nav#block-mainmenu li a {
  border-radius: 2em;
  color: #444;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 90%;
  margin: 0 .1em;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
}

nav#block-mainmenu li a:hover {
  background-color: #ddd;
  color: #444;
}

nav#block-mainmenu li a.is-active {
  background-color: #444;
  color: #fff;
}

/* System Styles ------------------------------------------------------------ */

/* Local tasks */
ul.primary {
  padding: 0 0 0 1em;
  margin: 5px;
}

.tabs ul.tabs {
}

.tabs ul li {
  margin: 0;
  padding: 0;
}

.tabs ul li a {
  display: inline-block;
  padding: .25em 1em;
  margin: 0 .25em -1px 0;
  border-style: solid solid none;
  border-width: 1px;
  height: auto;
}

.feed-icon img,
.file-icon {
  padding: 0;
  border: none;
}

/* Drupal Pager Styles */
.pager {
  font-family: Helvetica, Arial, sans-serif;
  clear: both;
  margin: 1em 0;
  color: #555;
  white-space: nowrap;
}

.item-list .pager li {
  padding: .15em;
  margin: 0;
}

.item-list .pager .pager-current,
.pager li a {
  color: #000;
  padding: .6em 1em .5em;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
}

.item-list .pager .pager-current {
  background-color: #eee;
  border: 1px solid #eee;
}

.pager a:hover {
  background-color: #eee;
  border-color: #777;
}

/* Wysiwyg/editor styles */
.rtecenter {
  text-align: center;
}

/* General search styles */
.form-item-keys-1 {
  display: inline-block;
}

.form-item-keys-1 input.form-text {
  width: 12em;
}

/* General Node Styles ------------------------------------------------------ */
/* Header */
.node header h2 a {
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
}

/* Submitted info */
p.submitted {
  color: #777;
  margin: 1em 0;
  font-size: .9em;
}

/* Footer */
.node footer {
  margin: 0 0 1em;
}

/* Links */
ul.links,
ul.links.inline {
  display: inline-block;
}

ul.links li {
  padding-left: 0;
}

.node .node-readmore a {
  font-weight: bold;
}

.node .new {
  color: #a21111;
}

/* Responsive Styles -------------------------------------------------------- */
@media screen and (max-width: 800px) {
  img {
    max-width: 95%;
    height: auto;
  }

  table.mobile-stack td {
    display: table-row;
  }

  #page {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  #header {
    margin-bottom: 1em;
  }

  .site-name {
    line-height: 1em;
    font-size: 2.5em;
    margin-top: 0;
    text-align: center;
  }

  .page-title {
    width: 95%;
    margin: 0 auto;
  }

  #main nav ul {
    text-align: center;
  }

  #sidebar-second {
    display: none;
  }

  .sidebar-second #content .section {
    padding-right: 0;
  }

  #block-system-main > .content {
    float: none;
    margin: 0 auto;
    width: 95%;
  }

  .item-list .pager .pager-first,
  .item-list .pager .pager-ellipsis,
  .item-list .pager .pager-item,
  .item-list .pager .pager-current,
  .item-list .pager .pager-last {
    display: none;
  }
}
