---
name: CI
'on':
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '2 6 * * 0'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      # - name: Build site with Hugo.
      #   run: hugo

      # - name: Test loading the home page.
      #   run: >
      #     curl http://localhost/

      # - name: Verify the home page has the site name in it.
      #   run: >
      #     curl -s http://localhost/ | grep "Jeff Geerling"
